.dashboard-card{

color:white;

border-radius:20px;

padding:25px;

transition:0.3s;

cursor:pointer;

}

.dashboard-card:hover{

transform:translateY(-8px);

}

.icon{

font-size:40px;

margin-bottom:15px;

}